
<ol>
  {{#each @questions as |question|}}
    <li data-test-question={{question.id}}>
      <p data-test-question-question>{{question.question}}</p>
      <ol>
        {{#each question.answers as |answer|}}
          <li data-test-question-answer>{{answer}}</li>
        {{/each}}
      </ol>
    </li>
  {{/each}}
</ol>

<button onclick={{action "buttonClick"}}>Complete the Quiz</button>
